.me{
    display: flex;
    
    color: rgb(255, 255, 255);
    font-size: 10vh;
    margin: 20px;
    padding: 20px;
    transition: all 0.5s;
}
.text{
    max-width: 30%;
    color: rgb(255, 255, 255);
    font-size: 3vh;
    margin: 15px;
    padding: 75px;
    text-justify:distribute-all-lines;
    
    transition: all 0.3s;
    
    
}
.text:hover{
    font-size: 4vh;
    max-width: 35%;
    box-shadow: 1px -50px 35px rgb(255, 66, 132);
}
.me:hover{
    font-size: 11vh;
    color:rgb(255, 66, 132);;
}

.button{
    
    max-height: 50%;
    
    font-size: 3vh;
    border-radius: 15px;
    margin: 10px;
    padding: 10px;
    color: rgb(41, 40, 40);
    background-color: #f6f4f4;
    border: none;
    cursor: grab;
    cursor: pointer;
    transition:all 0.5s;
    max-width: 20%;
}
.button-dom{
    align-items: center;
    justify-content:center ;
    display: flex;
    flex-grow: 1;
    z-index: 5;
    transition:all 0.5s;
    
}
.button:hover {
    transition:all 0.5s;
    flex-grow: 1;
    color: rgb(250, 250, 250);
    border: solid 5px;

    border-color: rgb(255, 66, 132);
    background-color: #181818;
    box-shadow: 1px 1px 35px rgb(255, 66, 132);
  }

  

.header{
    background-color: rgb(25, 25, 25);
    display: flex;
    max-height: 200px;
    color: aliceblue;
    justify-content:flex-start;
    
    min-width: 100%;
    z-index: 3;
    
    
    
}



.body{

    background-color: #111;
    display:flex;
    flex-direction: column;
    align-items: center;
    background-image: url(images/layered-waves-haikei\ \(1\).svg);
    background-repeat: no-repeat;
    background-size:cover;
    
    
}
.main-body{
    min-width: 100%;
    display: flex;
    
    justify-content: space-between;
    
}
.images{
    
    max-width: 45%;
    padding: 20px;
    border-radius: 200px;
    margin: 10px;
    
    min-height: auto;
    transition: all 0.5s;
    
}
.images:hover{
    max-width: 65%;
    box-shadow: 1px 1px 35px rgb(255, 66, 132);
    
    min-height: auto;
    
}
.img-dom {
    
    
    flex-grow: 1;
    display: flex;
    justify-content: center;
    transition: transform 1s ease-in-out; /* increase duration and use ease-in-out */
    position: relative;
  }
  
 

.side-dom:hover{
    background-color: #111;
    border: none;
    box-shadow: 1px -50px 35px rgb(255, 66, 132);
    min-width: 300px;
    
    
    transition: all 0.5s;
}


.side-dom {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    min-width: 150px;
    padding: 50px;
    border-left: 2px solid #ffffff ; 
    z-index: 1;
    transition: all 0.3s;
  }
  
  
  .side-bar {
    min-width: 75%;
    font-size: 2.2vh;
    border-radius: 25px;
    margin: 10px;
    padding: 10px;
    color: rgb(41, 40, 40);
    background-color: #f6f4f4;
    border: none;
    cursor: grab;
    cursor: pointer;
    z-index: 2;
    transition: all 0.3s ease-in-out;
    align-items: right;
    
    
  }
  
  .side-bar:hover {
    background-color: rgb(34, 34, 34);
    color: white;
    z-index: 2;
    border:solid 5px;
    border-color: rgb(255, 66, 132);
    min-width: 100%;
    font-size: 30px;
    box-shadow: 1px 1px 35px rgb(255, 66, 132);
    
  }



  /* body Two */


.two-body{
    margin-top: 30vh;
    display: flex;
    justify-content: center;
    
    padding: 20px;
    min-width: 95%;
    min-height: 100vh;
    background-image: url(images/layered-waves-haikei.svg);
    background-repeat: no-repeat;
    background-size:cover;
  }
.text-2{
    display: flex;
    font-size: 4vh;
    color:#181818;
    background-color: #ffffff;
    margin: 50px;
    min-width: 50%;
    border-radius: 50px;
    align-items: center;
    justify-content: center;
    
    
    
}
.projects{
    color: rgb(255, 66, 132);
    
    
}
/* .html{
    scroll-behavior: smooth;
} */
